= render_wizard_sidebar(resource) do
  %h1= @page_title

  %p You're Complete!

  = effective_form_with(model: resource, url: wizard_path(step), method: :put) do |f|
    = f.hidden_field :id
    = f.submit 'Save and Continue'
