= render 'layout' do
  = render 'effective/ballots/content', resource: resource

  - raise('expected a completed? poll') unless resource.completed?

  .alert.alert-warning.mb-4
    Successfully completed on #{resource.completed_at.strftime('%F')}.

  .mb-4
    = link_to "Return to Dashboard", return_to_dashboard_path, class: 'btn btn-lg btn-primary btn-block'

  = card do
    %p= resource.poll
    = render 'effective/ballots/ballot', ballot: resource

  = link_to "Return to Dashboard", return_to_dashboard_path, class: 'btn btn-lg btn-primary btn-block'
