= render_wizard_sidebar(resource) do
  %h1= @page_title

  - if resource.poll.all_steps_content.present?
    .mb-2= resource.poll.all_steps_content

  - if resource.poll.complete_content.present?
    .mb-2= resource.poll.complete_content

  .text-center
    %p= link_to 'Home', root_path, class: 'btn btn-primary'
