= render 'layout' do
  = render 'effective/ballots/content', resource: resource

  - # Signed out
  - if resource.user.blank?
    = card do
      %p Welcome!

      %p You are about to register for #{resource.poll}.

      %p 
        Please 
        = link_to 'sign in', '/users/sign_in'
        or
        = link_to 'sign up', '/users/sign_up'
        to continue.
        
      %p= link_to 'Sign In to Continue', '/users/sign_in', class: 'btn btn-primary'

  - # Signed in
  - if resource.user.present?
    .alert.alert-warning.mb-4
      This is a <strong>Secret Ballot</strong>.
      Only you will know what you have submitted and no one has access to individual ballots.

    = card do
      %p Welcome #{current_user}!

      %p You are starting a #{etd(resource.poll)} for #{resource.poll}.

      = effective_form_with(model: resource, url: wizard_path(step), method: :put) do |f|
        = f.hidden_field :current_step

        = f.submit 'Start', center: true
