= render_wizard_sidebar(resource) do
  %h1= @page_title

  %P This is a ballot

  = effective_form_with(model: resource, url: wizard_path(step), method: :put) do |f|
    = f.hidden_field :id

    = f.submit 'Save and Continue'
