= render 'layout' do
  = render 'effective/ballots/content', resource: resource

  = card do
    = effective_form_with(model: resource, url: wizard_path(step), method: :put) do |f|
      = f.hidden_field :current_step

      = render('effective/responsable/fields', f: f, responsable: resource, questionable: resource.poll)

      = f.submit 'Save and Continue', center: true
