= effective_form_with(model: [:admin, poll_notification], engine: true) do |f|
  - if inline_datatable?
    = f.hidden_field :poll_id
  - else
    = f.select :poll_id, Effective::Poll.sorted.all

  = f.select :category, Effective::PollNotification::CATEGORIES,
    label: 'Send an email notification'

  - # Render email templates
  - Effective::PollNotification::CATEGORIES.each do |category|
    - template = 'poll_' + category.parameterize.underscore

    = f.show_if :category, category do
      .my-3= render "/admin/poll_notifications/form_#{template}", f: f
      = email_notification_fields(f, template, variables: Effective::PollNotification::EMAIL_TEMPLATE_VARIABLES)

  = effective_submit(f)
