= effective_form_with(model: [:admin, poll_notification], engine: true) do |f|
  - if inline_datatable?
    = f.hidden_field :poll_id
  - else
    = f.select :poll_id, Effective::Poll.sorted.all

  = f.select :category, Effective::PollNotification::CATEGORIES,
    label: 'Send an email notification'

  - # Render email templates
  - Effective::PollNotification::CATEGORIES.each do |category|
    - template = 'poll_' + category.parameterize.underscore

    = f.show_if :category, category do
      .my-3= render "/admin/poll_notifications/form_#{template}", f: f
      
      = f.select :from, EffectivePolls.mailer_froms

      - if f.object.category == category
        = f.text_field :subject
        = f.text_area :body, rows: 10

      - elsif EffectivePolls.use_effective_email_templates == false
        = f.text_field :subject, value: ''
        = f.text_area :body, rows: 10, value: ''

      - else
        - email_template = Effective::EmailTemplate.where(template_name: template).first!
        = f.text_field :subject, value: email_template.subject
        = f.text_area :body, rows: 10, value: email_template.body

        %p The available variables are:

        %ul
          - Effective::PollNotification::EMAIL_TEMPLATE_VARIABLES.each do |variable|
            %li {{ #{variable} }}

        %small.text-muted Only a developer can add additional variables

  = effective_submit(f)
