= effective_form_with(model: [:admin, poll_notification], engine: true) do |f|
  - if inline_datatable?
    = f.hidden_field :poll_id
  - else
    = f.select :poll_id, Effective::Poll.sorted.editable.all

  = f.select :category, Effective::PollNotification::CATEGORIES,
    label: 'Send an email notification'

  - Effective::PollNotification::CATEGORIES.each do |category|
    - template = 'poll_' + category.parameterize.underscore

    = f.show_if :category, category do
      = render "/admin/poll_notifications/form_#{template}", f: f

      - if EffectivePolls.use_effective_email_templates
        - email_template = Effective::EmailTemplate.where(template_name: template).first!

        - f.object.body ||= email_template.body
        - f.object.from ||= email_template.from
        - f.object.subject ||= email_template.subject
      - else
        - f.object.from ||= EffectivePolls.mailer[:default_from]

      = f.email_field :from, label: 'From'
      = f.text_field :subject, label: 'Subject'
      = f.text_area :body, label: 'Body', rows: 10

      - if EffectivePolls.use_effective_email_templates
        %p The available variables are:

        %ul
          - Effective::PollNotification::EMAIL_TEMPLATE_VARIABLES.each do |variable|
            %li {{ #{variable} }}

        %small.text-muted Only a developer can add additional variables

  = effective_submit(f)
