= tabs do
  = tab 'Poll' do
    = render 'admin/polls/form_poll', poll: poll

  - if poll.persisted?
    = tab 'Content' do
      = render 'admin/polls/form_content', poll: poll

    = tab 'Questions' do
      - datatable = Admin::EffectivePollQuestionsDatatable.new(poll_id: poll.id)
      = render_datatable(datatable, inline: true, simple: true)

    = tab 'Notifications' do
      %p
        The following email notification will be sent to all
        = pluralize(poll.users.count, 'users')
        in the audience.

      - datatable = Admin::EffectivePollNotificationsDatatable.new(poll_id: poll.id)
      = render_datatable(datatable, inline: true, simple: true)

    - if poll.respond_to?(:log_changes_datatable)
      = tab 'Logs' do
        = render_datatable(poll.log_changes_datatable)
