= effective_form_with(model: [:admin, poll], engine: true) do |f|
  = f.text_field :title, hint: 'The title of your poll.'
  = f.text_area :body

  = f.datetime_field :start_at
  = f.datetime_field :end_at

  = f.check_box :draft, hint: 'Save this poll as a draft. It will not be accessible on the website.'

  = effective_submit(f)
