= effective_form_with(model: [:admin, poll], engine: true) do |f|
  .card.mb-4
    .card-body
      %h5.card-title All Steps Content
      = f.rich_text_area :all_steps_content, label: false, hint: 'displayed on all ballot steps'

  .card.mb-4
    .card-body
      %h5.card-title Start Step
      = f.rich_text_area :start_content, label: false, hint: 'displayed on the start step only'

  .card.mb-4
    .card-body
      %h5.card-title Vote Step
      = f.rich_text_area :vote_content, label: false, hint: 'displayed on the vote step only'

  .card.mb-4
    .card-body
      %h5.card-title Review and Submit Step
      = f.rich_text_area :submit_content, label: false, hint: 'displayed on the review and submit step only'

  .card.mb-4
    .card-body
      %h5.card-title Complete Step
      = f.rich_text_area :complete_content, label: false, hint: 'displayed on the complete step only'

  = f.submit
