%p Each of the following content areas will be displayed on the ballot wizard.

= effective_form_with(model: [:admin, poll], engine: true) do |f|
  = card("All Steps") do
    - if defined?(EffectiveArticleEditor)
      = f.article_editor "rich_text_all_steps_content", label: false, hint: "displayed on all steps"
    - else
      = f.rich_text_area "rich_text_all_steps_content", label: false, hint: "displayed on all steps"

  %hr

  - enabled = Effective::Ballot.all_wizard_steps

  - Effective::Ballot::WIZARD_STEPS.each do |step, title|
    - next unless enabled.include?(step)

    = card("#{title}") do
      - if defined?(EffectiveArticleEditor)
        = f.article_editor "rich_text_#{step}_content", label: false, hint: "displayed on the ballot #{step} wizard step only"
      - else
        = f.rich_text_area "rich_text_#{step}_content", label: false, hint: "displayed on the ballot #{step} wizard step only"

  = f.submit
